<div class="inscription">

  <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit(inscriptionForm)">

    <h1 id="title_inscript">S'inscrire</h1>
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" name="name" ngModel>
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" ngModel>
    </div>

    <div class="form-group">
      <label for="role">Role :</label>
      <select id="role" name="role" ngModel>
        <option id="role-input" *ngFor="let role of roles" [value]="roles">{{role}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="numberOfPeople">Mot de passe :</label>
      <input type="password" id="numberOfPeople" name="password" ngModel>
    </div>

    <button type="submit" >S'inscrire</button>

    <div class="link">
      <a class="admin_link" routerLink="/login">Se Connecter</a>
    </div>

  </form>
</div>
