<div class="footer">
  <div class="wrapper">
    <svg>
      <text x="50%" y="50%" dy=".35em" text-anchor="middle">
        FYTECH-GROUP
      </text>
    </svg>
  </div>

  <div class="information">
    <div class="contatc">
        <div class="contact-info">
          <h3>Contact</h3>
          <p>Phone: +33 6 00 00 00 00</p>
          <p>Email:Fytech@gmail.com </p>
          <p>Address: Antananarivo 101</p>
        </div>

        <div class="iconLien">
          <a href="https://www.instagram.com" target="_blank">
            <img src="assets/icon/instagram.png" alt="Instagram">
          </a>
          <a href="https://www.twitter.com" target="_blank">
            <img src="assets/icon/email.png" alt="">
          </a>
          <a href="https://www.linkedin.com" target="_blank">
           <img src="assets/icon/twitter.png">
          </a>
        </div>

    </div>
    <div class="text-info">
      <p>
        N'oubliez pas de consulter nos recommandations locales,
        des conseils pratiques et des suggestions d'activités pour rendre votre séjour inoubliable.
        Nous sommes impatients de partager avec vous la beauté et l'hospitalité uniques de Madagascar.
      </p>
    </div>
  </div>

</div>
