<div class="sidebar" [class.open]="isOpen" >
  <div class="logo_details">
    <div class="logo_name">Fytech-Group</div>
    <i class="bx" [class.bx-menu]="!isOpen"
       [class.bx-menu-alt-right]="isOpen" id="btn" (click)="isOpen = !isOpen" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search" (click)="isOpen = !isOpen" ></i>
      <input type="text" placeholder="Search..." [formControl]="searchService.searchControl" />
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a routerLink="/dashboard/acceuil">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Destination</span>
      </a>
      <span class="tooltip">Destination</span>

    </li>
    <li>
      <a routerLink="/dashboard/user">
        <i class="bx bx-user"></i>
        <span class="link_name">User</span>
      </a>
     <span class="tooltip">User</span>
    </li>
    <li>
      <a routerLink="/dashboard/reservation">
        <i class="bx bx-list-ol"></i>
        <span class="link_name">Reservation</span>
      </a>
      <span class="tooltip">Reservation</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="assets/icon/user.png" alt="profil image">
        <i class='bx bx-log-out' routerLink="/login"></i>
      </div>
    </li>
  </ul>
</div>

