<div class="section">

      <h1 id="title-section" data-aos="fade-up">
      Découvrez la Merveille Naturelle de Madagascar
      </h1>
          <div class="sec1">
            <div class="text" >

              <p id="text-section" data-aos="fade-up">
                Plongez au cœur d'une symphonie naturelle en explorant les trésors cachés de Madagascar.
                Cette île unique, perdue dans l'océan Indien, est un sanctuaire de biodiversité à nul autre pareil.
                Des forêts primaires luxuriantes aux déserts arides, chaque coin de ce paradis insulaire offre une aventure inoubliable.
              </p>
              <p id="text-section-2" data-aos="fade-up">
                Madagascar, située au large de la côte sud-est de l'Afrique, est une île extraordinairement riche en biodiversité.
                En raison de son isolement géographique, environ 90% de la faune et de la flore de Madagascar ne se trouvent nulle part ailleurs sur terre.
                Voici un aperçu de quelques-unes des espèces uniques qui font de Madagascar un véritable trésor de la nature.
              </p>

            </div>
            <div class="image" data-aos="fade-up">
              <img src="./assets/image_accueil/zdenek-machacek-83gB_koMuvA-unsplash.jpg" id="image-sec" width="450px">
            </div>
          </div>

</div>

<div class="section4">
  <h1 id="title-section4" data-aos="fade-up">
    Les destionation merveilles de Madagascar à découvrir
  </h1>
  <img src="../../assets/ilustration/maki.png" alt="" id="icon-maki" data-aos="fade-up">

  <div class="container-image" data-aos="fade-up"
       data-aos-anchor-placement="top-center">
    <div class="image-items" *ngFor="let image of paginatedListe">
      <h3> {{ image.title }} </h3>
      <p> {{ image.description }} </p>
      <img [src]="image.imageUrl" alt=" {{ image.title }} ">
      <div class="hover-text">
        <a routerLink=""> En savoir plus... </a>
      </div>
      <p> Emplacement : {{ image.location }} </p>
    </div>

  </div>

  <div class="pagination">
    <img src="assets/icon/left.png" (click)="previousPage()" >
    <img src="assets/icon/right.png" (click)="nextPage()">
  </div>

</div>
