.reservation{
  background-color: #6d6db6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 105vh;
  width: 100%;
  overflow-y: hidden;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{;
  width: 50%;
  margin-top: 6rem;
  margin-left: 5rem;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  opacity: 0.7;
}

#title_reserv{
  font-family: "JetBrains Mono Light", monospace;
  font-size: 2.8rem;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 0 10rem;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group select{
  border: none;
  background-color: #eceaea;
  border-radius: 5px;
  color: black;
  padding-left: 1rem;
  font-weight: 600;
  font-family: "JetBrains Mono Light", monospace;
  font-size: 1.2rem;
  height: 2rem;
  width: 60%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  border: none;
  background-color: #eceaea;
  border-radius: 5px;
  color: green;
  padding-left: 1rem;
  font-weight: 600;
  border-bottom: 1px solid white;
  font-family: "JetBrains Mono Light", monospace;
  font-size: 1.2rem;
  height: 2rem;
  width: 95%;
}

.form-group label{
  font-family: "JetBrains Mono Light", monospace;
  font-size: 1.2rem;
  color: white;
}

button {
  margin-top: 3rem;
  background-color: #024376;
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "JetBrains Mono Light", monospace;
  width: 35%;
}
button:hover {
  background-color: #e4e9f7;
  color: #024376;
  transition: 0.5s;
}
#destination[_ngcontent-ng-c2321305981] {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: green;
}

#successMess{
  display: block;
  position: absolute;
  top: 1rem;
  right: 0;
}
button:disabled {
  background-color: #024376; /* couleur de fond du bouton désactivé */
  cursor: not-allowed; /* change le curseur en 'not-allowed' lorsque le bouton est désactivé */
}

button:disabled:hover {
  background-color: #024376; /* couleur de fond du bouton désactivé lors du survol */
  color: white; /* couleur du texte du bouton désactivé lors du survol */
}
input[type="email"].ng-valid {
  color: green;
}

input[type="email"].ng-invalid {
  color: red;
}

.error-message {
  color: red;
}

input:valid {
  color: green;
}

