<div class="reservation">

  <div class="logo">
    <img src="assets/icon/arrow-left.png" alt="logo" title="home" routerLink="/">
  </div>
  <form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">

    <h1 id="title_reserv">Reservation</h1>
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" name="nom_utilisateur" ngModel required>
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" name="email_utilisateur" ngModel pattern=".+@gmail\.com$" required #email="ngModel">
      <div *ngIf="email.invalid && email.touched" class="error-message">
        Please enter a valid email ending with @gmail.com
      </div>
    </div>

  <div class="form-group">
    <label for="destination">Destination :</label>
    <select id="destination" name="destination" [(ngModel)]="selectedDestination.nom_destination">
      <option *ngFor="let destination of destinations" [ngValue]="destination.nom_destination">{{destination.nom_destination}}</option>
    </select>
  </div>

    <div class="form-group">
      <label for="departureDate">Date de départ :</label>
      <input type="date" id="departureDate" name="date_depart" ngModel required>
    </div>

    <div class="form-group">
      <label for="arrivalDate">Date d'arrivée :</label>
      <input type="date" id="arrivalDate" name="date_retour" ngModel required>
    </div>

    <div class="form-group">
      <label for="numberOfPeople">Nombre de personnes :</label>
      <input type="number" id="numberOfPeople" name="nombre_personne" ngModel required>
    </div>

    <button type="submit" [disabled]="reservationForm.invalid" >Reserver</button>

  </form>

  <!-- Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Succès</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          La réservation a été envoyée avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-success" role="alert" *ngIf="showSuccessMessage" id="successMess">
    Votre reservation est envoyé avec succès !
  </div>


</div>
