<div class="reservation">

  <div class="logo">
    <img src="assets/icon/arrow-left.png" alt="logo" title="home" routerLink="/">
  </div>
  <form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">

    <h1 id="title_reserv">Reservation</h1>
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" name="nom_utilisateur" ngModel required>
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" name="email_utilisateur" ngModel required>
    </div>

  <div class="form-group">
    <label for="destination">Destination :</label>
    <select id="destination" name="destination" [(ngModel)]="selectedDestination.nom_destination">
      <option *ngFor="let destination of destinations" [ngValue]="destination.nom_destination">{{destination.nom_destination}}</option>
    </select>
  </div>

    <div class="form-group">
      <label for="departureDate">Date de départ :</label>
      <input type="date" id="departureDate" name="date_depart" ngModel required>
    </div>

    <div class="form-group">
      <label for="arrivalDate">Date d'arrivée :</label>
      <input type="date" id="arrivalDate" name="date_retour" ngModel required>
    </div>

    <div class="form-group">
      <label for="numberOfPeople">Nombre de personnes :</label>
      <input type="number" id="numberOfPeople" name="nombre_personne" ngModel required>
    </div>

    <button type="submit">Reserver</button>

  </form>
</div>
