<div class="container">
  <div class="head">
    <h1>Liste de Reservation</h1>
    <p>Voici la table qui affiche la liste de la Reservation</p>
  </div>
  <div class="table">
<table>
  <tr>
    <th>Destination</th>
    <th>nom_utilisateur</th>
    <th>email_utilisateur</th>
    <th>date_depart</th>
    <th>date_retour</th>
    <th>nombre</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let reservation of reservationManages">
    <td>{{reservation.destination}}</td>
    <td>{{reservation.nom_utilisateur}}</td>
    <td>{{reservation.email_utilisateur}}</td>
    <td>{{reservation.date_depart | date:'yyyy-MM-dd'}}</td>
    <td>{{reservation.date_retour | date:'yyyy-MM-dd'}}</td>
    <td>{{reservation.nombre_personne}}</td>
    <td id="action">
      <i class='bx bx-x-circle id="circle"'></i> <i class='bx bx-mail-send' id="mail"></i>
    </td>
  </tr>
</table>

  </div>

</div>
