<div class="container">
  <div class="head">
    <h1>Liste de Reservation</h1>
    <p>Voici la table qui affiche la liste de la Reservation</p>
  </div>
  <div class="table">
<table>
  <tr>
    <th>Destination</th>
    <th>nom_utilisateur</th>
    <th>email_utilisateur</th>
    <th>date_depart</th>
    <th>date_retour</th>
    <th>nombre</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let reservation of reservationManages">
    <td>{{reservation.destination}}</td>
    <td>{{reservation.nom_utilisateur}}</td>
    <td>{{reservation.email_utilisateur}}</td>
    <td>{{reservation.date_depart | date:'yyyy-MM-dd'}}</td>
    <td>{{reservation.date_retour | date:'yyyy-MM-dd'}}</td>
    <td>{{reservation.nombre_personne}}</td>
    <td id="action">
      <i class='bx bx-x-circle id="circle"'></i>
      <i class='bx bx-mail-send' id="mail" data-bs-toggle="modal" data-bs-target="#confirmEmailModal" (click)="openModal(reservation)"></i>
    </td>
  </tr>
</table>

    <!-- Modal -->
    <div class="modal fade" id="confirmEmailModal" tabindex="-1" aria-labelledby="confirmEmailModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmEmailModalLabel">Confirmation de réservation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir confirmer cette réservation et envoyer l'e-mail de confirmation ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="reservation && sendEmail(reservation.id_reservation)">Confirmer</button>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
