.container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.head{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.head h1{
  font-family: "JetBrains Mono Light", monospace;
  font-size: 2.5rem;
  font-weight: 700;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 5rem 0 0 10rem;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#mail {
  margin-left: 1.5rem;
  cursor: pointer;
}
#circle{
  cursor: pointer;
}
