<div class="container">
  <div class="head">
    <h1>Liste de Reservation</h1>
    <p>Table is a lightweight, minimalistic, responsive, mobile-friendly CSS layout.</p>
  </div>
  <div class="table">
    <table class="customTable">
      <thead>
      <tr>
        <th>Id_Reservation</th>
        <th>Destination</th>
        <th>date de depart</th>
        <th>date de retour</th>
        <th>Nombre de personne</th>
        <th>Montant_total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservationManage of reservationManages">
        <td> {{ reservationManage.id_reservation }} </td>
        <td> {{ reservationManage.nom_destination }} </td>
        <td> {{ reservationManage.date_depart }} </td>
        <td> {{ reservationManage.date_retour }} </td>
        <td> {{ reservationManage.nombre_personne }} </td>
        <td> {{ reservationManage.prix_total }} </td>

      </tr>
      </tbody>
    </table>

  </div>

  <div class="button">
    <button type="button" class="btn-accepter">Accepter</button>
    <button type="button" class="btn-refuser">Refuser</button>

  </div>

</div>
