@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,700&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
.container{
  max-width: 100%;
  height: 100vh;
  background-image: url('../../assets/image_accueil/Lemur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.scroll-to-top {
  position: fixed;
  display: block;
  bottom: 1rem;
  right: 2rem;
  z-index: 1;
  cursor: pointer;
}

.accueil{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100% ;
}

.accueil img{
  cursor: pointer;
}

.menu{
  display: flex;
  gap: 2rem;
  margin-top: 20px;
  width: 60%;
}

.menu-items a{
  font-family: 'Iceland', sans-serif;
  text-decoration: none;
  color: #e4e9f7;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 560;
  font-size: 1.3vw;
  cursor: pointer;
}
.menu-items a:hover{
  background-color: #024376;
  transition: 0.5s;
}
.login{
  width: 8%;
  margin-top: 0.8rem;
}
.btn-login{
  font-family: 'Iceland', sans-serif;
  text-decoration: none;
  color: #e4e9f7;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 560;
  font-size: 1.3vw;
  background-color: #024376;
  cursor: pointer;
}
.btn-login:hover{
  background-color: #e4e9f7;
  color: #024376;
  transition: 0.5s;
}

.recherche{
  height: 1rem;
  margin-top: 13px;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #024376;
  padding: 17px 30px;
  border-radius: 18px;

}
.recherche input{
  margin-right: 0;
  border: none;
  background-color: transparent;
  color: white;
}
input::placeholder {
  color: #e4e9f7;
}

.recherche button {
  border: none;
  background-color: #024376;
}

.recherche button i{
  padding: 8px;
  color: #e4e9f7;
}

#text-acceuil{
  width: 50%;
  margin-top: 14rem;
  margin-left: 6rem;
}
#text-acceuil p{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 900;
  font-size: 3.5vw;
  color: white;
  text-transform: uppercase;
}

.container-image {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2vw;
  overflow: hidden;
  margin-top: 3rem;
}
.image-items {
  /* Ajoutez vos règles CSS ici */
  box-sizing: border-box;
  width: 30%;
  height: 22vw;
  margin: 2rem auto;
  overflow: hidden;
  text-align: center;
  background-color: #8d8d8d;
}

.image-items img {
  width: 100%;
  margin-top: 1.2rem;
  cursor: pointer;
}

.image-items img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  filter: blur(2px);
}

.image-items h3, .image-items p {
  font-family: 'Abel', sans-serif;
  color: #dad7d7;
  margin-top: 1rem;
  text-shadow: 9px -1px 6px rgba(0,0,0,0.61);
}

.image-items h3 {
  font-size: 1.5vw;
}

.image-items p {
  font-size: 1.2vw;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.pagination img{
  width: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1285px){
  #text-acceuil p{
    font-size: 3.7vw;
  }
  .menu{
    width: 60%;
    gap: 1.5rem;
  }
}


@media screen and (max-width: 1020px) {
  #text-acceuil p{
    font-size: 3.2vw;
  }
  .menu-items a{
    font-size: 1.1vw;
    padding: 7px 12px;
  }

  .menu {
    width: 70%;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .menu {
      width: 80%;
      gap: 0.5rem;
    }
  }
}

  @media screen and (max-width: 576px) {
  .menu {
    width: 90%;
    gap: 0.3rem;
  }
}
