<div class="container">
  <div class="accueil">
    <img src="/assets/image_accueil/icons.png" width="80px" data-aos="fade-up" data-aos-duration="1000">
    <div class="menu" data-aos="fade-up"
         data-aos-duration="1000">
      <div class="menu-items"><a href="#"(click)="scrollToElement('container')" >ACCUEIL</a></div>
      <div class="menu-items"><a href="#"(click)="scrollToElement('section4')">VOIR+</a></div>
      <div class="menu-items"><a href="#">RESERVATION</a></div>
      <div class="menu-items"><a href="#"(click)="scrollToElement('footer')">CONTACT</a></div>
    </div>
    <div class="recherche" data-aos="fade-left"
         data-aos-duration="1000">
      <input type="search" placeholder="search...">
      <button type="submit"><i class='bx bx-search'></i></button>
    </div>
    <div class="login" data-aos="fade-left"
         data-aos-duration="1000">
      <button class="btn-login">Login</button>
    </div>

  </div>

  <div id="text-acceuil">
    <p data-aos="fade-right"
       data-aos-offset="100"
       data-aos-easing="ease-in-sine">
      Découvrez la richesse culturelle et naturelle de Madagascar, un paradis à explorer.    </p>
  </div>

  <img class="scroll-to-top" src="assets/icon/up.png" (click)="scrollToElement('container')" *ngIf="showScrollToTop" >
</div>


