table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 5rem 0 0 10rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#edit {
  margin-left: 2rem;
  cursor: pointer;
}
#circle{
  cursor: pointer;
}
#btn-ajout{
  margin-left: 10rem;
  margin-top: 3rem;
}
